table{
    border-collapse: collapse;
    margin-left: 12%;
}

td, th{
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}